<div cdkDropListGroup>
  <div *ngFor="let list of lists; let i = index;">
    <div class="panel panel-default col-xs-3" style="margin-right:10px;"
      *ngIf="editingListIndex !== i">
      <div class="row">
        <div class="col-xs-12">
          <h3>{{ lists[i].title }}</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" [cdkDropListData]="lists[i].tasks" cdkDropList (cdkDropListDropped)="drop($event)">
          <h5 style="color: rgb(212, 203, 203)" *ngIf="lists[i]?.tasks.length <= 0">No Tasks</h5>
          <ul class="list-group">
            <h5 class="list-group-item" style="background-color:rgb(223, 223, 223)" *ngIf="lists[i].tasks.length > 0">Tasks</h5>
            <li class="list-group-item" *ngFor="let task of lists[i].tasks; let j = index;" cdkDrag>
              {{ task }}
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-info" style="margin-bottom:10px;" (click)="onEdit(i)">Edit</button>
          <button class="btn btn-danger" style="margin-bottom:10px;" (click)="onDelete(i)">Delete</button>
        </div>
      </div>
    </div>

    <app-list-new *ngIf="editingListIndex === i"></app-list-new>

  </div>
</div>
